Source/Includes/Config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Config">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Realm">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RealmId" type="xs:int" />
                            <xs:element name="RealmName" type="xs:string" />
                            <xs:element name="RealmList" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="1" name="Defaults">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RealmDefaultId" type="xs:int" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>